:root {
    --col-main-bright: #021526;
    --col-off-bright: #FFEBC1;
    --col-asso-bright: #E2E2B6;
    --col-gray-bright: #34495D;
    --col-blue-bright: #004182;
    --col-win-bright: #5d9948;
    --col-loss-bright: #e02828;
    --col-main-silo: #ffffff;
    --col-off-silo: #556a84;
    --col-asso-silo: #333333;
    --col-gray-silo: #F59D2A;
    --col-blue-silo: #03346E;
    --col-win-silo: #861818;
    --col-loss-silo: #375b2b;
    --col-main: var(--col-main-bright);
    --col-main-opp: var(--col-main-silo);
    --col-off: var(--col-off-bright);
    --col-asso: var(--col-asso-bright);
    --col-gray: var(--col-gray-bright);
    --col-blue: var(--col-blue-bright);
    --col-win: var(--col-win-bright);
    --col-loss: var(--col-loss-bright);
    --font-main: "futura-pt", sans-serif;
    --font-asso: "grad", serif;
    --space-header: 4%;
    --space-micro: 7px;
    --space-small: 2vh;
    --space-medium: 10%;
    --line-height-large: 1.4vw;
    --line-height:1.3em ;
    --transition-default: all 0.4s ease-in-out;
}

.Silo-mode {
    --col-main: var(--col-main-silo);
    --col-main-opp: var(--col-main-bright);
    --col-off: var(--col-off-silo);
    --col-asso: var(--col-asso-silo);
    --col-gray: var(--col-gray-silo);
    --col-blue: var(--col-blue-silo);
    --col-win: var(--col-win-silo);
    --col-loss: var(--col-loss-silo);
    transition: var(--transition-default);
}

.centrered{
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

.code_formatting, code { 
    color: var(--col-gray-bright);
    font-family: monospace;
    font-style: italic;
    background-color: var(--col-off);
}

body {
    background-color: var(--col-asso);
    color: var(--col-main);
    font-family: var(--font-main);
    transition: var(--transition-default);
    line-height: var(--line-height-large);
    font-size: 1rem;
    margin: 0;
    padding: 0;
    overflow: auto;
}


h1 {
    transition: var(--transition-default);
    font-family: var(--font-asso);
    font-weight: 800;
    font-size: 2.5rem;
}

h2 {
    transition: var(--transition-default);
    line-height: var(--line-height);
    margin-top: 1.2em;
    font-weight: 650;
    font-size: 1.5rem;
}

h3 {
    transition: var(--transition-default);
    font: var(--font-main);
    font-weight: inherit;
    line-height: inherit;
}

a {
    transition: var(--transition-default);
    color: var(--col-gray);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--col-main);
    outline: none;
    text-decoration: underline;
}


h4 {
    text-indent: 2vh;
    transition: var(--transition-default);
    font-family: var(--font-main);
    font-weight: 800;
    font-size: 1rem;
}

h5{
    transition: var(--transition-default);
    margin: 0;
    padding: 0;
}

p{
    transition: var(--transition-default);
    font: var(--font-main);
    margin-bottom: var(--space-small);
}

header {
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--col-gray);
    line-height: 2.3;
    font-size: 24px;
    padding-right: var(--space-header);
}


#logo {
    width: 10vw;
    max-width: 1000px;
    max-height: 1000px;
    float: left;
    padding: 0 1vw;
    margin: auto;
}


.menu{
    width: 80vw;
    align-items: center;
}
.menu a{
    font-style: normal;
    color: var(--col-gray);
    text-align: center;
    padding-right: 15px;
}
.menu .active{
    color: var(--col-main);
    text-decoration: underline;
}
.menu a:hover, a:focus {
    color: var(--col-main);
    outline: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 100vw) {
    header {
        flex-wrap: nowrap; /* Prevent wrapping if total width exceeds viewport width */
        overflow-x: auto; /* Add horizontal scrolling if necessary */
    }
}

nav, .nav-item{
    margin-right: 25px;
}

.mode-switch {
    text-align: center;
    transition: var(--transition-default);
    cursor: none;
    border: 1px solid var(--col-gray);
    background: var(--col-asso);
    line-height: 1.3;
    color: var(--col-asso);
    border-radius: 3px;
    padding: 0px 3px;
    margin: 0px 6px;
}

.mode-switch:hover {
    border: 2px solid var(--col-blue);
    background: var(--col-main);
    line-height: 1.6;
    color: var(--col-asso);
    border-radius: 10px;
    margin: 0px 3px;
    padding: 0px 6px;
    border: 6px var(--col-grey);
    background: var(--col-main);
}
footer{
    padding-top: 1vh;
}
.footer {
    padding-top: auto;
    padding-bottom: var(--space-micro);
    margin-bottom: 0;
    background-color: var(--col-gray);
    color: var(--col-main-opp);
    transition: var(--transition-default);
    text-align: center;
    text-decoration: none;
}

.invisible{
    display: none;
}

.content{
    min-height: 50vh;
    justify-content: center;
    text-align: justify;
    transition: var(--transition-default);
    margin: var(--space-medium);
    line-height: 1.3;
}
.footer p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.footer_box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

table{
    border:1px solid var(--col-main);
}   

th, td {
  border:1px solid var(--col-main);
  min-height: 40vh;
  padding: 1vh 1vw;
}

main p{
    text-indent: 2vw;
}

.Quote{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.Win_WIN{
    background-color: var(--col-win);
}
.Win_Loss{
    background-color: var(--col-loss);
}

#tbl_comp{
    width: 7vw;
}
#tbl_date{
    width: 9vw;
}
#tbl_stance{
    width: 7vw;
}
#tbl_school{
    width: 18vw;
}
#tbl_motion{
    width: 34vw;
}
#tbl_result{
    width: 7vw;
}
#tbl_speaker{
    width: 8vw;
}

#tbl_stat{
    width: 15vw;
}
#tbl_data{
    width: 70vw;
}

.contact{
    font-size: 24px;
    padding: 0 var(--space-header);
    display: block;
}

iframe{
    width: 90vw;
    height: 1000px;
}

