:root {
        --col-main: #000000;
        --col-asso: #eeeded;
        --col-gray: #bdbeff;
        --col-blue: #2527ff;
}
.dark-mode {
    --col-main: #ffffff;
    --col-asso: #333333;
    --col-gray: #6667ff;
    --col-blue: #bdbeff;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--col-asso);
  font-family: Arial, sans-serif;
}

img{
    visibility: false;
    width: auto;
    height: 60px;
    margin-bottom: 3vh;
}

.spinner {
  border: 4px solid var(--col-main);
  border-top-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 3vh;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h3, p {
    text-align: center;
    margin: 0;
    padding: 1vh 10vw;
    font-size: 16px;
    color: var(--col-main);
}

a {
    font-size: 16px;
    color: var(--col-blue);
    background-color: transparent;
    text-decoration: underline 2px #bdbeff;
    border: none;
    transition: 0.3s ease-in-out;
}
a:hover{
    color: var(--col-gray);
    text-decoration: underline 2px var(--col-gray);
    cursor: pointer;
    
}

#GoBack{
    opacity:0.5
}
